
<!-- ***** MAIN NAV BAR ***** -->
<div class="navbar">
	<div class="navbar-inner">
	  <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="#" data-bind="click: function() { FranchiseSetViewModel.indexAction() }">Franchise Manager - SPA</a>
	    <div class="nav-collapse">
	      <ul class="nav">
	        <li class="active"><a href="#" data-bind="click: function() { FranchiseSetViewModel.indexAction() }">Franchise Sets</a></li>
	        <li><a href="#about">About</a></li>
	        <li><a href="#contact">Contact</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
</div>

<!--**** FLASH MESSAGES *****-->
<div class="alert" data-bind="visible: function() { FranchiseSetViewModel.shownOnce() }">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<span data-bind='text: flash'></span>
</div>



<!--**** INDEX container *****-->
<div data-bind='visible: showSetGrid'>
	<div>
		<h3 class="pull-left">Franchise Sets</h3>
		
		<a data-bind='click: function() { FranchiseSetViewModel.newAction() }' class="pull-right btn btn-large btn-primary">
			<i class="icon-plus icon-white"></i>
			Add Franchise Set
		</a><br/></br/><br/>
	</div>
	
	
		
	<table class="table table-bordered table-condensed">
	  <thead>
	    <tr>
	    	<th></th>
	    	<th>Franchise Set ID</th>
	      <th>Franchise Set Name</th>
	      <th>Main Address</th>
	      <th>Time Zone</th>	      
	      <th></th>
	    </tr>
	  </thead>
	  <tbody data-bind='template: {name: "indexTemplate", foreach: franchiseSets}'></tbody>
	</table>	
	
</div>



<!-- ***** PLEASE SELECT franchise set container ***** -->
<div data-bind="visible: showSelectSet">
	<div data-bind="template: {name: 'selectFranchiseSet'}"></div>
</div>




<!--***** NEW franchise set container *****-->
<div data-bind='visible: currentPage() == "new"'>
	<div data-bind='template: {name: "newTemplate", data: tempFranchiseSet}'></div>
</div>


<!--***** EDIT franchise set container *****-->
<div class="well" data-bind='visible: currentPage() == "edit"'>
	<div data-bind=' template: { name: "editTemplate", data: tempFranchiseSet }'></div>
</div>





<!-- INDEX Template  -->
<script id="indexTemplate" type="text/html">
	<tr>	
		<td>			
	     <a data-bind="click: function() { FranchiseSetViewModel.editAction($data) }" class="btn btn-success">
	     	<i class="icon-edit icon-white"></i>
	     	Edit
	     </a>
	   </td>
		<td data-bind="text: id"></td>
	  	<td data-bind="text: set_name"></td>
	  	<td data-bind="text: address"></td>
	  	<td data-bind="text: time_zone"></td>	
	  
	   
	   <td>
	     <a data-bind="click: function() { FranchiseSetViewModel.destroyAction($data) }" class="btn btn-danger">
	     	<i class="icon-trash icon-white"></i>
	     	Delete
	     </a>
	   </td>
	</tr>
</script>







<!--*** SELECT FRANCHISE SET Template  ***-->
<script id="selectFranchiseSet" type="text/html">
	<div class="well"><br/>
		<h3>Please select a Franchise Set to Edit</h3>
		<br/>
	</div>
</script>




<!-- NEW Franchise Set Template  -->
<script id="newTemplate" type="text/html">
	
	<h3>New Franchise Set</h3>

	<form id="form">
	  <div class="field">
		 	<label for="set_name">Franchise Set Name</label>
		 	<input id="set_name" data-bind="value: set_name" />	 
	  </div>
	  
	  <div class="field">
		 	<label for="set_num">Franchise Set Number</label>
		 	<input id="new_set_num" data-bind="value: set_num" />
	  </div>
	  
	  <div class="field">
		 	<label for="soa_num">SOA Number</label>
		 	<input id="new_soa_num" data-bind="value: soa_num" />
	  </div>
	  
	  <div class="field">
		 	<label for="address">Main Address</label>
		 	<input id="new_address" data-bind="value: address" />
	  </div>
	  
	  <div class="field">
		 	<label for="country">Country</label>
			<select name="new_country" data-bind="value: country"> 
				<option value="" selected="selected">Select Country</option> 
				<option value="United States">United States</option> 			
				<option value="Canada">Canada</option> 			
			</select>		
	  </div>
	  
	  <div class="field">
		 	<label for="time_zone">Time Zone</label>
			<select name="new_timezone" data-bind="value: country"> 
				<option value="" selected="selected">Select Time Zone</option> 
				<option value="eastern">Eastern</option> 			
				<option value="central">Central</option>
				<option value="mountain">Mountain</option>
				<option value="pacific">Pacific</option> 			
			</select>		
	  </div>
	  
	  <div class="field">
		 	<label for="temperature">Default Temperature</label>
			<select name="new_temperature" data-bind="value: temperature"> 
				<option value="" selected="selected">Select Temperature</option> 
				<option value="fahrenheit">Fahrenheit</option> 			
				<option value="celsius">Celsius</option> 			
			</select>		
	  </div>
	  
	  
	</form>
	
	<div>
	  <button data-bind="click: function() { FranchiseSetViewModel.createAction($data) }" class="btn btn-primary">Create</button>
	  <a data-bind="click: function() { FranchiseSetViewModel.indexAction() }" class="btn">Cancel</a>
	</div>
	
</script>






<!-- EDIT Franchise Set Template  -->
<script id="editTemplate" type="text/html">

	<h3 data-bind="text: set_name"></h3>

	<form id="form">
	  <div class="field">
		 	<label for="set_name">Franchise Set Name</label>
		 	<input id="update_set_name" data-bind="value: set_name" />	 
	  </div>
	  
	  <div class="field">
		 	<label for="set_num">Franchise Set Number</label>
		 	<input id="update_set_num" data-bind="value: set_num" />
	  </div>  
	  
	 <div class="field">
		 	<label for="soa_num">SOA Number</label>
		 	<input id="update_soa_num" data-bind="value: soa_num" />
	  </div>
	  
	  <div class="field">
		 	<label for="address">Main Address</label>
		 	<input id="update_address" data-bind="value: address" />
	  </div>
	  
	  <div class="field">
		 	<label for="country">Country</label>
			<select name="update_country" data-bind="value: country"> 
				<option value="" selected="selected">Select Country</option> 
				<option value="United States">United States</option> 			
				<option value="Canada">Canada</option> 			
			</select>		
	  </div>
	  
	  <div class="field">
		 	<label for="time_zone">Time Zone</label>
			<select name="update_timezone" data-bind="value: time_zone"> 
				<option value="">Select Time Zone</option> 
				<option value="eastern">Eastern</option> 			
				<option value="central">Central</option>
				<option value="mountain">Mountain</option>
				<option value="pacific">Pacific</option> 			
			</select>		
	  </div>
	  
	  <div class="field">
		 	<label for="temperature">Default Temperature</label>
			<select name="update_temperature" data-bind="value: temperature"> 
				<option value="" >Select Temperature</option> 
				<option value="fahrenheit">Fahrenheit</option> 			
				<option value="celsius">Celsius</option> 			
			</select>		
	  </div>
	  
	  
	</form>
	
	<div>
	  <button data-bind="click: function() { FranchiseSetViewModel.updateAction($data) }" class="btn btn-primary">Save Changes</button>
	  <a data-bind="click: function() { FranchiseSetViewModel.indexAction() }" class="btn">Cancel</a>
	</div>
	
</script>




<script type="text/javascript">

$(document).ready(function() {
	ko.applyBindings(FranchiseSetViewModel);
	FranchiseSetViewModel.indexAction();
	FranchiseSetViewModel.clearTempFranchiseSet();
	$(".alert").alert('close');
	
});






</script>







