
<!-- ***** MAIN NAV BAR ***** -->
<div class="navbar">
	<div class="navbar-inner">
	  <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="#" data-bind="click: function() { FranchiseSetViewModel.indexAction() }">Franchise Manager</a>
	    <div class="nav-collapse">
	      <ul class="nav">
	        <li class="active"><a href="#" data-bind="click: function() { FranchiseSetViewModel.indexAction() }">Franchise Sets</a></li>
	        <li><a href="#about">About</a></li>
	        <li><a href="#contact">Contact</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	    
	    <!-- <%= image_tag asset_path('house_logo_small.png'), :class => "pull-right" %> -->
	    
	  </div>
	  
	  
	</div>
</div>

<!--**** FLASH MESSAGES *****-->
<div class="alert" data-bind="visible: function() { FranchiseSetViewModel.shownOnce() }">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<span data-bind='text: flash'></span>
</div>



<!--**** INDEX container *****-->
<div data-bind='visible: showSetGrid'>
	<div>
		<h3 class="pull-left">Franchise Sets</h3>
		
		<a data-bind='click: function() { FranchiseSetViewModel.newAction() }' class="pull-right btn btn-large btn-primary">
			<i class="icon-plus icon-white"></i>
			Add Franchise Set
		</a><br/></br/><br/>
	</div>
	
	
		
	<table class="table table-bordered table-condensed">
	  <thead>
	    <tr>
	    	<th></th>
	    	<th>Franchise Set ID</th>
	      <th>Franchise Set Name</th>
	      <th>Main Address</th>
	      <th>Time Zone</th>	      
	      <th></th>
	    </tr>
	  </thead>
	  <tbody data-bind='template: {name: "indexTemplate", foreach: franchiseSets}'></tbody>
	</table>	
	
</div>



<!-- ***** PLEASE SELECT franchise set container ***** -->
<div data-bind="visible: showSelectSet">
	<div data-bind="template: {name: 'selectFranchiseSet'}"></div>
</div>


<!--$$$$$$$$$$$$$$$$$$$$$$$  FRANCHISE SET TEMPLATES $$$$$$$$$$$$$$$$$$$$$$$$-->


<!--***** NEW franchise set container *****-->
<div data-bind='visible: currentPage() == "new"'>
	<div data-bind='template: {name: "newTemplate", data: tempFranchiseSet}'></div>
</div>


<!--***** EDIT franchise set container *****-->
<div class="well" data-bind='visible: currentPage() == "edit"'>
	<div data-bind=' template: { name: "editTemplate", data: tempFranchiseSet }'></div>
</div>



<!-- INDEX Template  -->
<script id="indexTemplate" type="text/html">
	<tr data-bind="rowFadeIn: true">	
		<td>			
	     <a data-bind="click: function() { FranchiseSetViewModel.editAction($data) }" class="btn btn-success">
	     	<i class="icon-edit icon-white"></i>
	     	Edit
	     </a>
	   </td>
		<td data-bind="text: id"></td>
	  	<td data-bind="text: set_name"></td>
	  	<td data-bind="text: address"></td>
	  	<td data-bind="text: time_zone"></td>	
	  
	   
	   <td>
	     <a data-bind="click: function() { FranchiseSetViewModel.destroyAction($data) }" class="btn btn-danger pull-right">
	     	<i class="icon-trash icon-white"></i>
	     	Delete
	     </a>
	   </td>
	</tr>
</script>


<!--*** SELECT FRANCHISE SET Template  ***-->
<script id="selectFranchiseSet" type="text/html">
	<div class="well"><br/>
		<h3>Please select a Franchise Set to Edit</h3>
		<br/>
	</div>
</script>




<!-- NEW Franchise Set Template  -->
<script id="newTemplate" type="text/html">
	
	<h3>New Franchise Set</h3>

	<form id="form">
	  <div class="field">
		 	<label for="set_name">Franchise Set Name</label>
		 	<input id="set_name" data-bind="value: set_name" />	 
	  </div>
	  
	  <div class="field">
		 	<label for="set_num">Franchise Set Number</label>
		 	<input id="new_set_num" data-bind="value: set_num" />
	  </div>
	  
	  <div class="field">
		 	<label for="soa_num">SOA Number</label>
		 	<input id="new_soa_num" data-bind="value: soa_num" />
	  </div>
	  
	  <div class="field">
		 	<label for="address">Main Address</label>
		 	<input id="new_address" data-bind="value: address" />
	  </div>
	  
	  <div class="field">
		 	<label for="country">Country</label>
			<select name="update_country" data-bind='options: FranchiseSetViewModel.availableCountries, optionsCaption: "Select Country" '></select>		
	  </div>
	  
	  <div class="field">
		 	<label for="time_zone">Time Zone</label>
			<select name="new_timezone", data-bind="options: FranchiseSetViewModel.availableTimeZones, value: time_zone"></select>		
	  </div>
	  
	  <div class="field">
		 	<label for="temperature">Default Temperature</label>
			<select name="new_temperature" data-bind="options: FranchiseSetViewModel.availableTemperatures, value: temperature"></select>		
	  </div>
	  
	  
	</form>
	
	<div>
	  <button data-bind="click: function() { FranchiseSetViewModel.createAction($data) }" class="btn btn-primary">Create</button>
	  <a data-bind="click: function() { FranchiseSetViewModel.indexAction() }" class="btn">Cancel</a>
	</div>
	
</script>



<!-- EDIT Franchise Set Template  -->
<script id="editTemplate" type="text/html">	

	<h3 data-bind="text: set_name"></h3>
	
	<!-- Franchise Set tabs 	 -->
	<ul id="set_tabs" class="nav nav-tabs">
	  	<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
	  	<li><a href="#franchises" data-toggle="tab">Franchises</a></li>
	  	<li><a href="#users" data-toggle="tab">Users</a></li>
	  	<li><a href="#features" data-toggle="tab">Features</a></li>
	</ul>
	
	<div class="tab-content">
		
		<div class="tab-pane active" id="details">
			<form id="form">
				
			  <div class="field">			  		
				 	<label for="set_name">Franchise Set Name</label>
				 	<input id="update_set_name" data-bind="value: set_name" />	 
			  </div>
			  
			  <div class="field">
				 	<label for="set_num">Franchise Set Number</label>
				 	<input id="update_set_num" data-bind="value: set_num" />
			  </div>  
			  
			 <div class="field">
				 	<label for="soa_num">SOA Number</label>
				 	<input id="update_soa_num" data-bind="value: soa_num" />
			  </div>
			  
			  <div class="field">
				 	<label for="address">Main Address</label>
				 	<input id="update_address" data-bind="value: address" />
			  </div>
			  
			  <div class="field">
				 	<label for="country">Country</label>
					<select name="update_country" data-bind="options: FranchiseSetViewModel.availableCountries, value: country"></select>		
			  </div>
			  
			  <div class="field">
				 	<label for="time_zone">Time Zone</label>
					<select name="update_timezone" data-bind="options: FranchiseSetViewModel.availableTimeZones, value: time_zone"></select>		
			  </div>
			  
			  <div class="field">
				 	<label for="temperature">Default Temperature</label>
					<select name="new_temperature" data-bind="options: FranchiseSetViewModel.availableTemperatures, value: temperature"></select>		
			  </div>		  
			  
			</form>
		</div><!-- Closes Details tab pane -->
		
		
		<!--$$$$$$$$$$$$$$  FRANCHISES TEMPLATES - still part of the Franchise Sets Tabs $$$$$$$$$$$$$$$-->
		
		<!-- Franchises Container -->
		<div class="tab-pane" id="franchises">
			
			<h3 class="pull-left">Franchises</h3>
			
			<a data-bind='click: function() { FranchiseViewModel.newAction() }' class="btn btn-primary pull-right" data-toggle="modal" href="#new_franchise_modal">
				<i class="icon-plus-sign icon-white"></i>
				Add Franchise
			</a><br /><br />
			
			<table id="franchises_table" class="table table-bordered table-condensed">
			  <thead>
			    <tr>
			    	<th></th>
			    	<th>Franchise ID</th>
			      <th>Franchise Name</th>
			      <th>Franchise Number</th>         
			      <th></th>
			    </tr>
			  </thead>
			  <tbody data-bind='template: {name: "franchiseIndexTemplate", foreach: FranchiseViewModel.franchises}'></tbody>
			</table>	
			
			
			
			<!--***** NEW franchise container - MODAL  *****-->
			<div class="modal hide fade in" id="new_franchise_modal">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">×</button>
					<h3>Add New Franchise</h3>
			  </div>
			  <div class="modal-body" data-bind='template: { name: "newFranchise", data: FranchiseViewModel.tempFranchise }' >			  			  	
			  </div>			 
			  
			</div>			
			
			
			<!--***** EDIT franchise container - MODAL  *****-->
			<div class="modal hide fade in" id="edit_franchise_modal">
				<div class="modal-header" >
					<button class="close" data-dismiss="modal">×</button>
					<h3>Edit Franchise</span> </h3>
			  </div>
			  <div class="modal-body" data-bind='template: { name: "editFranchise", data: FranchiseViewModel.tempFranchise }' ></div>			  
			</div>			
			
			
			
			
					
		</div><!-- Closes Franchise Tab pane --- THIS ALSO ENDS THE FRANCHISES VIEWMODEL SCOPE !!!!!  -->	
			
		<br /><hr />	
		<div>
		  <button data-bind="click: function() { FranchiseSetViewModel.updateAction($data) }" class="btn btn-large btn-primary">
		  		<i class="icon-check icon-white"></i>
		  		Save Changes
		  </button>
		  <a data-bind="click: function() { FranchiseSetViewModel.indexAction() }" class="btn btn-large">Cancel</a>
		</div>
		
		
			
		<!-- FRANCHISE INDEX Template  -->
			<script id="franchiseIndexTemplate" type="text/html">
				<tr data-bind="rowFadeIn: true">	
					<td>			
				     <a data-bind="click: function() { FranchiseViewModel.franchiseEditAction($data) }" class="btn btn-success" data-toggle="modal" href="#edit_franchise_modal">
				     	<i class="icon-edit icon-white"></i>
				     	Edit
				     </a>
				   </td>
					<td data-bind="text: id"></td>
				  	<td data-bind="text: $data.franchise_name"></td>
				  	<td data-bind="text: $data.franchise_num"></td>
				  				  					  
				   
				   <td>
				   	
				     <a data-bind="click: function() { FranchiseViewModel.franchiseDestroyAction($data) }" class="btn btn-danger pull-right">
				     	<i class="icon-trash icon-white"></i>
				     	Delete
				     </a>
				   </td>
				   
				</tr>
			</script>		
		
	</div><!-- Closes Main tab-content div  -->	
	
</script>







<!-- ADD NEW Franchise Template  -->
<script id="newFranchise" type="text/html">
	
	<form id="new_franchise_form">
	  <div class="field">
		 	<label for="franchise_name">Franchise Name</label>
		 	<input id="new_franchise_name" data-bind="value: franchise_name" />	 
	  </div>
	  
	  <div class="field">
		 	<label for="franchise_num">Franchise Number</label>
		 	<input id="new_franchise_num" data-bind="value: franchise_num" />
	  </div>
	  
	</form>
	
	<div>
	  <button data-dismiss="modal" data-bind="click: function() { FranchiseViewModel.createAction($data) }" class="btn btn-primary">Create Franchise</button>
	  <a data-dismiss="modal" data-bind="click: function() { FranchiseViewModel.franchiseIndexAction() }" class="btn">Cancel</a>
	</div>
	
</script>




<!-- EDIT Franchise Template  -->
<script id="editFranchise" type="text/html">
	
	<form id="edit_franchise_form">
	  <div class="field">
		 	<label for="franchise_name">Franchise Name</label>
		 	<input id="edit_franchise_name" data-bind="value: franchise_name" />	 
	  </div>
	  
	  <div class="field">
		 	<label for="franchise_num">Franchise Number</label>
		 	<input id="edit_franchise_num" data-bind="value: franchise_num" />
	  </div>
	  
	</form>
	
	<div>
	  <button data-dismiss="modal" data-bind="click: function() { FranchiseViewModel.franchiseUpdateAction($data) }" class="btn btn-primary">Update Franchise</button>
	  <a data-dismiss="modal" data-bind="click: function() { FranchiseViewModel.franchiseIndexAction() }" class="btn">Cancel</a>
	</div>
	
</script>



<!--*****************************************
	   			JQUERY KICKSTART  
*******************************************-->

<script type="text/javascript">
	$(document).ready(function() {
		ko.applyBindings(FranchiseSetViewModel);
		ko.applyBindings(FranchiseViewModel, document.getElementById('franchises'));
		FranchiseSetViewModel.indexAction();		
		FranchiseSetViewModel.clearTempFranchiseSet();
		FranchiseViewModel.clearTempFranchise();
		//console.log(FranchiseSetViewModel.selectedFranchiseSet())
		
		$("#new_franchise_modal").modal('hide');
		
		$('#new_franchise_modal').on('show', function () {
			  $('input#new_franchise_name').focus()
		})
		
		
				
	});

</script>







