/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$gray: #555;
$green: #46a546;
$navbarText: #fff;
$navbarLinkColor: #fff;
$navbarBackgroundHighlight: $gray;
$navbarBackground: $gray;
$btnPrimaryBackground: #ff3300;

@import "bootstrap";
@import "bootstrap-responsive";


body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-image: url(image_path('gray_gradient_bg_1.png'));
  background-repeat: repeat-x;
}

.main  {
    padding: 10px;
    background-color: white;
    @include border-radius(10px);
}

h2, h3 {
  color: #666;
}


th {
  background-color: $grayLight;
  color: white;
}

.franchise_sets_header {
  margin-bottom: 10px;
  border: solid 1px black;
}

.navbar-inner {
  .container {
    padding-top: 5px;
  }
}


.btn-primary.super { 
    height: 30px;  
    vertical-align: middle;
}

.diffColor {
  background-color: red;
}

.selectedRowTransparent {
  background-color: transparent;
}

.selectedRow {
  background: #b4df5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #b4df5b 0%, #b4df5b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4df5b), color-stop(100%,#b4df5b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b4df5b 0%,#b4df5b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b4df5b 0%,#b4df5b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b4df5b 0%,#b4df5b 100%); /* IE10+ */
  background: linear-gradient(top,  #b4df5b 0%,#b4df5b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=0 ); /* IE6-9 */

}
    

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}


.well {
  .well {
    background-color: white;
  }
}

